.hero {
    position: relative;
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 70%, #2f2e2e 100%), url('../../img/pexels-photo-424184.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px; 
    color: white;
  }
  
  .navbar {
    /* background-color: rgba(0, 0, 0, 0); */
    padding: 10px 0;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
  }

  .right-nav{
    color: white;
    font-weight: bolder;
    margin-left: 20px;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    display: inline;
    margin: 0 20px; 
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
   .hero-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .hero-text-container {
    flex: 1; 
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .hero-content p {
    font-size: 1.4rem;
    margin: 10px;
  }

  .heroBtn {
    background-color: rgb(231, 168, 42); 
    height: 40px;
    max-width: 40%;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    
  } 

  .client-logos-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
  }
  
  .client-logo {
    max-width: 40%;
    height: auto;
    max-height: 40px; 
    margin: 0 10px; 
  }

  .hero-image-container {
    flex: 1; 
    text-align: center;
  }
  .hero-image {
    width: 100%;
    max-width: 400px; 
    height: auto; 
  }


  /* For screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  .hero {
    height: auto;
    flex-direction: column;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
  }

  .hero-image-container,
  .hero-text-container {
    flex: 1;
    text-align: center;
  }
  
  .hero-image {
    max-width: 100%;
  }
  
  .navbar {
    position: relative;
  }
}